<style>
  ss{
    float: right;
  }
</style>

<h1>TinyApp</h1>

<a href='http://localhost:8080/urls/new'> Create New TinyURL</a>
|
<a href='http://localhost:8080/urls'>URLs</a>

<p>
  <% if (user) { %>
  Logged In As: <%= user.email %>
   <form method="POST" class="form-inline" action="/logout">
    <button type="submit" class="btn btn-primary">Log Out</button>
   </form>
   <% } else {%>
   <P><a href='http://localhost:8080/register'> Register</a></p>
   <p><a href='http://localhost:8080/login'>Log In</a></p>
   <% } %>
 </p>
